# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
temp_uploads/
temp_outputs/
models/*.onnx
models/*.bin

# IDEs
.vscode/
.idea/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# specific file
*.db
dummy.py
lecture.py
server.py
test.py
view.html
websocket.py
__init__.py
__pycache__/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# *.html
*.json
# Virtual environments
venv/
env/
ENV/
.venv/
.env/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# FastAPI specific
instance/
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/
# dotenv
.env
# .env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

output/
chroma_db
chroma_db_latest
chroma_db_nomic



vectorstores/

DriveSyncdownloads/

ngrok.exe

uploads/

ZImageModel


images
